.reveal .state-background {
  background-color: #003333;
  color: #CCCC99;
}

.section .reveal .state-background,
.section .reveal section{
    background-color: #001818;
  color: #FFFF99;
}

.subsection .reveal .state-background,
.subsection .reveal section{
    background-color: #006666;
  color: #CCCC99;
}

.prompt .reveal .state-background,
.prompt .reveal section 
{
  background-color: #009999;
  color: #CCCC99;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    color: #FFFF99;
    font-family: "PT Sans", Impact, sans-serif;
    line-height: 1em;
    letter-spacing: 0.03em;
    text-transform: none;
    text-shadow: 3px 3px 8px #000000;
}
.reveal code.r {
  background-color: #06b4b4;
  color: #FFFFCC;
}

.reveal pre code {
  background-color: #99cccc;
  color: #000033;
}

.reveal section {
  background-color: #003333;
  color: #FFFFCC;
}

.reveal section p img {
  background: #FFFFFF66;
}

.reveal sub-section {
  background-color: green;
}

.reveal prompt {
  background-color: blue;
}

.reveal alert {
  background-color: purple;
} 

.bigdata {
  background-image: url(bd2.jpg);
  background-repeat: no-repeat;
  background-size: 1200px 500px;
}

.reveal strong {
  color: #FFDD66;
  font-weight: bold;
}


.reveal tiny {
  font-size: 22pt;
}

.reveal em {
  color: #FFFFCC;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
    border-left-color: #66CCCC;
}

.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
    border-right-color: #66cccc;
}

.reveal .controls div.navigate-left.enabled:hover{
     border-right-color: yellow;
}

.reveal .controls div.navigate-right.enabled:hover {
   border-left-color: yellow;
}

.reveal a:not(.image),
.reveal a {
  color: #0099FF;
}


.reveal ul {
  margin-bottom: 10px;
  padding-bottom: 10px;
}